@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html{
  background-color: #EEEEEE;
  font-family: 'Medium 500', montserrat;

}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


.header {
  padding: 7px;
  text-align: center;
  background: #6FB2D2;
  color: #EEEEEE;
  font-size: 20px;
  
  
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .content {
  padding-top: 102px;
}



